extends layout

block content

  #banner.jumbotron
    .container
      h1 5D Chess
      p.
        A real-time multi-player 5d chess app 
      p.
        <a class="btn btn-primary" href="https://www.youtube.com/watch?v=eqMEiBu4M1c">
        Tutorial video
        </a>


  .container
    // Tab links
    .tab
      button.tablinks(onclick="openTab(event, 'create')") Create game
      button.tablinks(onclick="openTab(event, 'lobby')") Lobby
      
    // Tab content
    #create.tabcontent
      h3 London
      p London is the capital city of England.
    #lobby.tabcontent
      h3 Paris
      p Paris is the capital of France.
  
  //script for tabs
  script.
    function openTab(evt, tabname) {
      // Declare all variables
      var i, tabcontent, tablinks;

      // Get all elements with class="tabcontent" and hide them
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }

      // Get all elements with class="tablinks" and remove the class "active"
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }

      // Show the current tab, and add an "active" class to the button that opened the tab
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
    }
    
  audio#music(src="https://cdn.glitch.com/5e0f9006-3453-41ad-b0eb-222438390afa%2Fytmp3free.cc_mittsies-vitality-youtubemp3free.org.mp3?v=1619244746188" loop="true" autoplay)
  script.
    const audio = document.getElementById('music');
    audio.volume = 0.2;

  script(src="/js/jquery.min.js")
  script(src="/js/bootstrap.min.js")
