extends layout

block content

  #banner.jumbotron
    .container
      h1 5D Chess
      p.
        A real-time multi-player 5d chess app 
      p.
        <a class="btn btn-primary" href="https://www.youtube.com/watch?v=eqMEiBu4M1c">
        Tutorial video
        </a>


  #welcome.container
    .div(style="width:500px")
      label(for="playerName") Name
      input#playerName.form-control(type="text", name="player-name", placeholder="Player 1",style="margin:5px")
      button#nameSubmit.btn.btn-primary(type="submit",style="margin:5px") Begin
  
    
  audio#music(src="https://cdn.glitch.com/5e0f9006-3453-41ad-b0eb-222438390afa%2Fytmp3free.cc_mittsies-vitality-youtubemp3free.org.mp3?v=1619244746188" loop="true" autoplay)
  script.
    const audio = document.getElementById('music');
    audio.volume = 0.2;

  script(src="/js/jquery.min.js")
  script(src="/js/bootstrap.min.js")
  
  script.
    document.getElementById('nameSubmit').onclick = function() {
       document.getElementById('welcome').fadeOut();
    };
