extends layout

block content

  #banner.jumbotron
    .container
      h1 5D Chess
      p.
        A real-time multi-player 5d chess app 



  .container
    .row
      .col-sm-6
        h2 Start a New Game
        form#startForm(action="/start", method="POST", role="form")
          .form-group
            label Play as
            div
              .btn-group(data-toggle="buttons")
                label.btn.btn-default.active
                  input(type="radio", name="player-color", value="white", checked="checked")
                  | White
                label.btn.btn-default
                  input(type="radio", name="player-color", value="black")
                  | Black
          .form-group
            label(for="playerName") Name
            input#playerName.form-control(type="text", name="player-name", placeholder="Player 1")
          button.btn.btn-primary(type="submit") Start Game
      .col-sm-6
        h2 Join an Existing Game
        form#joinForm(action="/join", method="POST", role="form")
          .form-group
            label(for="gameID") Game ID
            input#gameID.form-control(type="text", name="game-id")
          .form-group
            label(for="playerName") Name
            input#playerName.form-control(type="text", name="player-name", placeholder="Player 2")
          button.btn.btn-primary(type="submit") Join Game

  audio#music(src="https://cdn.glitch.com/5e0f9006-3453-41ad-b0eb-222438390afa%2Fytmp3free.cc_mittsies-vitality-youtubemp3free.org.mp3?v=1619244746188" loop="true" autoplay)
  script.
    const audio = document.getElementById('music');
    audio.volume = 0.2;

  script(src="/js/jquery.min.js")
  script(src="/js/bootstrap.min.js")
